{% block content %}
{% if technician_data %}
<div class="col-span-2 sm:col-span-1 technician-block">
<label for="technician" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Assign Technician</label>
    <select required id="technician" name="technician" class="technician_val bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
    {% for technician in technician_data %}
        <option value="{{technician.technician_id}}">{{technician.name}} - {{technician.technician_id}}</option>
    {% endfor %}
    </select>
</div>
{% else %}
<span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-yellow-300">UNABLE TO ASSIGN TECHNICIAN! No Technician available with that skillset</span>
{% endif %}
{% endblock content %}